<module>
	<rawname>importextensions</rawname>
	<name>Import Extensions</name>
	<version>0.1</version>
	<type>setup</type>
	<category>Module</category>
	<menuitems>
		<importextensions>Import Extensions</importextensions>
	</menuitems>
	<location>release/importextensions-0.1.tgz</location>
	<info>http://freepbx.org/wiki/ImportExtensions</info>
	<md5sum>432312cd8c6b661414b9cd4da257f89d</md5sum>
</module>
