<module>
	<rawname>importextensions</rawname>
	<name>Import Extensions</name>
	<version>0.1</version>
	<type>setup</type>
	<category>Third Party Addon</category>
	<menuitems>
		<importextensions>Import Extensions</importextensions>
	</menuitems>
	<location>release/importextensions-0.1.tgz</location>
	<info>http://freepbx.org/wiki/ImportExtensions</info>
	<md5sum>278f45ab14e9b56acfdad552b3becc14</md5sum>
</module>
